---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Release.Name }}-api
  labels:
    app: {{ .Release.Name }}-api
spec:
    scaleTargetRef:
        apiVersion: apps/v1
        kind: Deployment
        name: {{ .Release.Name }}-api
    minReplicas: {{ .Values.api.replicas.min }}
    maxReplicas: {{ .Values.api.replicas.max }}
    targetCPUUtilizationPercentage: 80
---
